header {
    background-color: darkred;
    width: 500px;
    height: 80px;
    position: sticky;
    top: 0px;
    padding: 40px;
}
section{
    background-color: blue;
    width: 500px;
    height: 80px;
    margin: 10px;
}
footer{
    height: 50px;
    width: 500px;
    background-color: black;
    bottom: 0px;
    position: fixed;
}
p{
    color:black;
}
section p{
    color: white;
}