* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --color-background: #ffffff;
    --color-text: #212529;
    --color-accent: #003800;
}

body {
    background-color: var(--color-background);
}

img.bandera {
    height: 20px;
    display: inline;
    margin-right: 10px;
}

h3 {
    display: inline;
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    display: inline;
    font-size: 20px;
}

#lista-destinos {
    min-width: 300px;
    max-width: 100%;
    padding: 20px;
    display: grid;
    height: fit-content;
}

.pais {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#lista-destinos > div {
    display: grid;
    row-gap: 15px;
    align-items: center;
    justify-content: start;
    border-bottom: 2px var(--color-accent) solid;
    padding: 15px 10px;
}

.destinos {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    row-gap: 15px;
    padding-left: 10px;
    white-space: nowrap;
}

.destino {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 5px;
}

#map {
    height: calc(100vh - 154px);
    margin: 20px;
}

button {
    border: none;
    background: none;
    padding: 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
    grid-column: 2;
}

img.flecha {
    height: 20px;
    display: inline;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 2s ease-in-out;
}

.rotate {
    transform: rotate(45deg);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-background);
    border-bottom: 2px solid var(--color-accent);
}

.nav-item {
    height: 100%;
}

.nav-item.nombre {
    font-size: clamp(20px, 3vw, 24px);
    line-height: 100%;
    align-content: center;
    color: var(--color-accent);
    font-weight: 500;
}

.nav-item.foto {
    height: 72px;
    aspect-ratio: 1;
    width: auto;
    background-image: url(img/tose-en-viaje.jpeg);
    background-size: cover;
    border-radius: 50%;
    border: var(--color-accent) 2px solid;
}

.nav-item.foto a {
    display: block;
    height: 100%;
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: min-content auto;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 20px;
  overflow: hidden;
}

.galeria div {
  height: auto;
  width: 100%;
  background-size: cover;
  border-radius: 12px;
  aspect-ratio: 3/2;
}

h1#destino {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 20px;
}

h2#pais {
    text-align: center;
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

p#no-disp {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.material-symbols-outlined.check {
  color: var(--color-accent);
  font-size: 20px;
  line-height: 24px;
}

@media (orientation: portrait) {
    section {
        display: block;
    }
}

@media (min-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}

.st0{fill:var(--color-accent);}
.st1{fill:none;stroke:var(--color-accent);stroke-width:2.0718;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:none;stroke:var(--color-accent);stroke-width:2.0718;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:var(--color-background);}
.st4{fill:none;stroke:var(--color-accent);stroke-width:1.1953;stroke-linecap:round;stroke-miterlimit:10;}
.st5{fill:var(--color-accent);stroke:var(--color-accent);stroke-width:1.1953;stroke-linecap:round;stroke-miterlimit:10;}
.st6{fill:var(--color-background);stroke:var(--color-accent);stroke-width:2.0718;stroke-linejoin:round;stroke-miterlimit:10;}

svg#logo {
    height: 90px;
}